html, body {
    margin: 0;
    padding: 0;
    font-family: Cursive;
    background-color: #9dbebb;
    color: #432000;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #13343E;
    background-color: #D6EAFF;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: Cursive;
    margin: 10px 0;
}

button {
    font-style:bold;
    color: #FDFDFD;
    text-shadow:2px 2px 10px #13343E ;
    background-color: #77ACA2;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: Helvetica Neue;
}

button:hover {
    background-color: #004346  ;
    color: black;
    cursor: pointer;
}

ul {
     color: #13343E;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #AED1D6;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

ul li:hover {
    background-color:#468189;
    cursor: pointer;
}